{% extends 'reviews/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Latest Posts</h1>
    {% for post in posts %}
        <article>
            <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
            <p class="date">{{ post.published_date }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <p>{{ post.content|truncatewords_html:50 }}</p>
            <a href="{% url 'post_detail' post.id %}">Read More</a>
        </article>
    {% endfor %}
{% endblock %}
